--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
torchmetrics==0.11.4
dotmap
fastapi
uvicorn
omegaconf
transformers==4.26.1
sentence_transformers
faiss-cpu
einops
pytorch_lightning==1.7.7
ftfy
scikit-image
torchdiffeq
jsonmerge